Source: billboard
Section: user/desktop
Priority: extra
Maintainer: Thomas Perl <m@thp.io>
Build-Depends: debhelper (>= 8.0.0), libdbus-glib-1-dev, libqtm-systeminfo-dev, libqtm-organizer-dev, libcontextsubscriber-dev, libgq-gconf-dev, libqt4-declarative-dev, libqt4-dev
Standards-Version: 3.9.2
Homepage: http://thp.io/2012/billboard/

Package: billboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: billboardlite
Replaces: billboardlite
Description: Standby screen Billboard
 This application allows you to customize the standby
 screen ("low power mode") with useful information.
XB-Maemo-Display-Name: Billboard
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAABSmSURB
 VHic7Z15eBRlnsc/VdVJd6e70znIxTBgEhgHmSASjp0FJFGe7A6OKCMoyLo6wIAXchgZYHTUAdRl
 5VDQUWZx0Ies44ACXjMgLgHCERR0gRAP7vtKh5DupK+q2j/S1al0ujsNJCDMfp+nnu56u9566/32
 73rfeutXgqqq/D8uHYYr2djChQsTgV6CIOQLgpANWARBsAFWwCoIggWwAAmCICSoqpoAIAhCnaqq
 dUAd4FJV1QU4AaeqqrWBsoOqqu4AvpwwYcKFK9Unoa0k8NVXX80RBKFPgKw8QRC6KorSwefziT6f
 D5/Ph6qqqKqKoihNPrXveoiiiCAICIIQ/K4vi4uL0zZFFMVjqqpWqqq6W1XVnaqqlj/xxBMH2qKf
 rUrgggULbhBF8TFJkkb5/f4sr9eLRpbP50OW5VZrKxokSdITSnx8PAaD4aQsyyWKorw2adKkQ63V
 1mUTOH/+fFEQhGGSJI1XVXWgy+WSXC4Xfr8/ar3W/OMEQWjxGIPBgMViwWKxyIIgbJBlebGqqssn
 T56stFg5WtuX2pH58+eniKL4tCiKIz0eT6bL5aK+vj74e+h59fuRvkcrCyUp2n5Lx5rNZiwWC0aj
 8ZSiKO8qijJr8uTJjmaNxoBLInDevHmFkiSVOJ3OrFBp02yY/rt+P1y5/rfQ78ELDUOQ/lPb9MeE
 lod+SpKE1WrFYrGclGV51JQpU9ZfLBcXReDLL78sCILwB2Caw+EweL3eJmS05BTCHQs0+4x4sWEI
 ggYHo5XpHUskhxNKrNFoJCUlxQ+8pCjK74uLi2MmJWYCZ8+enWk2m9/zeDy3OhwOZFluQpSiKMGy
 0C0cqZGIi3Y9kaQwGmGiKAY3SZKa7OtJlSSJ5ORkTCbTRr/ff+9TTz11utUInDNnzkBJkpbX1NSk
 1dbWBsnSttB9WZabEBtO8iK1GyuBoeXRiNSTJ0lS2E073mazkZiYeFZRlGHFxcUbL5vAWbNmZRqN
 xl1nz55Nc7vdyLKMz+fD7/fj9/ubEReONI2YWFU1FicS6fdQm6cnU0+iwWAIhjvavsFgQBRFTCYT
 qampZxVFyZs6dWpUSYxK4KBBg8SioqLSmpqaAefPn8fn8+Fyudi7d2/UzlwutCC7yYUGguW2gCAI
 dOzYkczMTOLj45EkicTERGw220a/318wbdq0iCRFHcoNGjTo+fr6+gE1NTV4vV48Hg/19fWtGsOF
 Q319PT6fr0mZJEnY7fY2aU9V1WD/NOm9cOECBoPh1vj4+D8Az0SqG1ECX3zxxUJg7enTpw0acfX1
 9TidTo4fP46iKMQSMP+QIQgCRqMRs9lMeno6aWlpJCQkYDQagyqelpbmV1W1aPr06WFDHDFc4ezZ
 s1NEUSxxOBwGzbb5/f6g7QNwu914vd6wXvda2WRZpq6uDn0f9XZclmUcDodBFMWS2bNnp8RMoCAI
 TzudziyPx9MsVNEG+aGD/WsZ0SIFj8eD0+nMEgTh6XB1mxE4c+ZMURCEkU6nM2IQ3FYYMGAAN954
 I5mZmRQWFpKenk5+fj7Z2dnk5eWRk5PDT37ykzZpO1rY5XQ6EQRh5MyZM5vxFc6JDHe73Zl+v/+i
 4rfWQEZGBn379qWiooLz58+Tn5/P4MGDKSkpCXpIs9nMd99912bXAM2Hmn6/H7fbnWkwGIYD7+mP
 DUfgOKfTGXY41tYEbtiwgbKyMqqrq+nUqRM7d+5k3bp1mM1mDh48SFVVFcnJyQiC0OrXEc5G6uF0
 OklKShpHCIFNvPCzzz57gyiK+06fPi1Bwz8hyzJer5e6urrg5nA4qK2txev1tmonrhYsFgsZGRmk
 pKRgsVgwmUzBoFqPjIwMWVGUzs8///whrSxUpx9zuVxSJNWNdcx6rSG0X5E2l8slAY/p6zZRYUEQ
 RrlcrrDTTuGGYS5X8xHDtQaLpWF0E4u9d7lcJCQkjAKe0sqCBM6YMSNHEIQs/Qgg1DPpZ1JAsxvX
 NoHQMPIInTEKF6YpioLP58uaMWNGzgsvvHAAmqpwn0jze1fKiVxthJv8CN0Cdr+vVkdPYH44AkNP
 fL2jJeEJENhTO15vA/NCZ0H+kSQwLi4upr4GTFyeth+UQFVVu/4jq3C7du1i6nuAo65aPRGguLg4
 UZblDn6/P+KU/LVCoM1mw263I0lSs99MpoZZlkgI5zRDt8CEQ4fi4uJECBCoqmovn88nxvIP/NAJ
 /Oqrco4e3ceZM0fZuXMbHTr8CAC73c4nn6xi9OiHItaNtf8BrnpBowqHdSDXGnkAHo8baLBpnTvn
 4vf7kSSJ5cv/G6vVytKl70Ss25IHDnEk+RBwIqqqZmuTB6EnvJbIA/jTn/5Mbm4OtbW1VFZ+w6lT
 Dbc0pk9vmFSONvyMtb8BrrIhQKCiKBZtIjH0hNEC6R8iFixYGLZ8x46dLdYNtXuRbmQFuLJAow20
 RZtUDI0J2xqiKGI0xjcr79//nyksLCAxMTFsnW7dupKRkd7st4yMdIYPv4cuXTpHbLOuri5mGxjg
 ygaNBFq1e7lX2waOGjWCHTu2Mn78b4JlZrOZJUveYOzY0QwZcgc9enRvVm/+/P9k7tw5rFjxF5Yu
 /a9g+eOPP8KyZUu5+eY8Vq36K3fc8Yuw7ZpMppgJDHBlhUYbaI2mwqGi3VZ48MF/o2fPW9i8eSs2
 my1YPm1aMRcu1DJ58lMR606c+CQARmM8Gzaso1u3rlRUVHL//SMoKroDp9PJli3bGDz4X/nkk781
 q6/NMer7Gk2FNQI1CbS0pMJXAm+/vYyJE5/k6NGjTebiunfPY/v2L3n44d/Qq1d+sHzChEd5/PFH
 mpzDbrdjMBg4duwEALt27WL06AexWq08+eREvvvu+7Btxyp9OqFqtIF6JxLL1tbweLyIYuO/36PH
 zUydOgWLxcKiRfN5+unpALz//kpWrlwdPO73v/8dlZX/y/HjJ6ipqQHg9dffZObMZ9m/fy8ZGRm8
 8cafIrZ7MXfzQp1IQiwEXilpdLvd1NQ0LHMWBAGz2cTgwXcxd+4Ciop+yd133wnAiRMnOX78RLDe
 ggULefjhCeTm5tCjx80AFBdP4a233uamm3pQXr6d3/62OGK7kUxWOALVwPptzQYmhAtRInngpsvD
 Wp/Q+vp6qqvPB9usqNjL+fMN+3V1dVit1rD1Lly4wPLl75OcnExR0e1UVlaSn9+Dnj3/CY/Hy5tv
 LuG995Yxc+YLwTp6Mxer2QpwlQCNKnxREhjLktrLQX29m5MnTwb316z5jNmz/0Dv3r145ZW5fPHF
 DgC6dv0pubk5QIPz6NatKwMHDmD8+DFs2rQZj8eLLCuMHTuaG27oxIgRw/nmm29DWmsQBH0YE6MK
 NxJ4MQYUmq6AagscOXKEQ4cOB/fnzJnHnj0VjB37EKdOnWbcuEcByMzMoHPnXACmTi3mkUfG86tf
 3c1zz81i69ZyAIYMuYf27bN46KEHOH36NCNH/nuz9gRB4MyZMxfFQ5ALVVUZM2bM+TNnztjDqbA2
 A+HxePB4PHi9XkRRpKamhqqqWmT52l6hYLebsVotWCwW4uPjMZlMwRVa0dYjpqen1yxZsiTJACDL
 cp2qqvZoQzm9Gre1BF5JCELkGDBSH0VRRJblOmh0InWBzyYHXs2Y8GrgYvqpcaZNJrg09sOdMDSE
 uV6krwFCEwnU+tuSBCqK4gIdgRC7BF5fKtzQD6vVitvtjlkCNc60MMYZi/u+ntU3LS0t5pFIgCsn
 NEqgM5oKh6ry9SWBjVIYqxMJR2Ct9kPogZFGI9cbLtZZapw1sYHRnEhoGPNDhX7pW8DYt1QjKG16
 ZxltOgtCbKCqqgdFUYwp8m7pnykouJWbburKffcNJz+/J7m5OSxcOJ+ePW9pclxycjIA6elpTJ78
 BB07/jj42733DsNut7NmzcfBkQbA5MlPcP/9I0hMTCQjI53CwgIA+vX7OQsXzueZZ2bw6aer6d27
 F0VFgxg3bgzPPRd2ZW4z6PvX0hbg6iAEJFCW5R3h/q1Q2xeLDSwunkxOTjZr1nxGdnYnHnlkHEeO
 HGXZsrc4cOAQ33+/j717K/n5z/vyxRc7+Pbb7xk06DZSUpJ55pnnAejQ4Ud06dKZpCQ7BQW3sm/f
 fgwGAzNm/Jb4+DgqKip455232L17D+Xl27FYLGzbVo4sK6SltUMUBXr1ysfpdPLBB6uiEqe3gaFT
 di0E0jv0BH4pSZKiKEqT9YKhKhyLbZg0qZh9+/aTltZwp7+y8hu2bi0nLa0dP/3pjSQlJVFWtgWb
 zcbq1R9ht9sZMeIBDAYDw4b9ihUrPuD119/AYIijuHgaZ86cpXv3n7Fr1x5uuaUvFy5cwOVy8fnn
 65k379XgKvsTJ06yc+fXeDxuysu/YN++/Ywe/SDV1TVRr1dDVVVVk762QKAiy/KXoFuhOmTIkMNV
 VVUd9VKoEaatUvX5fCiKQmpqKtXV1Zw65WjVsbDZbG7yzPGVQGqqjcREW5C8wNPtwcfDQiGKIqmp
 qUc+/PDDTqBbG6MoSqWmxm05mRrNMEcjLz6+4S5d6JKN1nJoscaAAY4qtXrBhSKyLO+WJOlf9CRF
 G4lcKubNm8PRo8dYvHgJZrOJoUPvIjU1lY8++pjExES2bdvOL385mPXrNxAfH4eqgsPhoKRkKeXl
 2ykoGMhnn30OQE5ONuvXl7Jq1UeXfD2hD2G3FMZIkoQsy7u1/SCBiqI0cyThwpjLgSAIFBYOZPfu
 CmbOfJbevXtx9uxZBAFuu62Avn178+CDYxg69G5mznyWv/99LXPnLgAavHV2djYul4v27bOQJJE7
 7vgFdrv9sgjU9zUWJxLgKHiXXi+B26MRGDqZcClSqKoqd901DKvVQlJSEhUVe1mzZh0ul4upU6fw
 xRdfsnbt56xe/THTp09l5crV5ObmcObMWaZNe5rKym/x+XxkZWVy+PARFi7842Wr8MV64YAHLg/W
 14tqUVHRCYfDkaWlJ9E7Ee1ZOYCsrCwcDgcnT1Zd8xOqaWmJ2Gy2YGoW7fnhcE5EkiRSUlJOrl27
 tr1W1iRskWW5xGg0tjgPeLXGwklJSVHX910aGkciLQXQRqMRWZZL9LWbEKgoymsmk+nKZMcBpkyZ
 SF5eNwB69coPPn4/ceLjTJo0AZvNxm23FWKz2Rg6dAiLFs3nzjsH06dP7zYgsmWYTCZZUZTX9GVN
 CFy/fv0hYIMWMkRCuDQjl4I+fXqxePEfGThwAMXFk8jL+xmPPjqeO+8czH33Def+++9j6dLF9OjR
 naFD70YQBDIzM/nrX5fRp0+vy2pbj1j6EeBkQ4CjIJr9jYqiLDaZTLdFW0fXWur761+Pw2w243A4
 qKur58CBg1RWVvL6629itVqpr6/nu+++Z9OmzeTkZLN9+5ccPXqMjIx0vvrq61a5Br0TiQaTyYSi
 KIub1Q+NdwoKCkRJko5XV1dnaiu2NCeiPWzdoUMHqqqqOHHiHH7/FdP4NkF6uh273R686xjOiYii
 SHJy8ilZln9UWlraxGs2e/61tLRUURTlXZPJFLHRy1Ffs7nxvBaLJXiBZrO52cN9LSEhISE4MjGZ
 jMHPi7u2poF0OASk791Q8iBC0glFUWaZTKYRHo8ny+fzhU140xLGjHmI8vLt7N9/AJ/PT1paOzIy
 MhgxYjgvvfQynTvn8vDDY1m58kMyMtLp0qUzhw4dxm5P5PDho7z//ko6dvwxBw4cxGw20bdvH/bs
 qUCWFVJTU7Db7UyY8Ch//vPbdO6cG7yfe+DAAU6cOEX79pl89NGnlxT86/toMBgwmUwnZVmeFfbY
 SEOWgoKCQlVV154/f96gV2FBEIIqfOzYmYgq/PXX29m6tRy7PZENGzZxzz1D2bVrN0lJdl55ZREf
 fvgBmzdvoa6ujgsXaklISMDtdtOuXTs8HjdJSUmMHj2e2tpahg0bypw5L/LBB6swm82cO3eOjh07
 Ist+Pv74UxYunM/nn5eSnJzEp5/+HZvNyqhRI7n99l/gcETPKZaRkYzdnojX68Xtdgfzx2j5Zux2
 ux8oKi0tDZt0ImIsUFpaun7gwIH/YbPZfldTU9MkVVIseOGFOZhMRtat+x+qq8/TpUsu77xTwtGj
 xzEa41m06I+UlLxLYWEBq1atDgzUJRISGjKrPfDAKHJzc9i9ew979uxlwoTJ/O1vawC4/fZCjh9f
 wd69lUiSRLt27fjLX5bTu3c+69dvAGDFipUtkqeHPsuRhsAippcikQctJN7p1KmTmJ2dXVpXVzdA
 m3fTQolz585FlcDLRWDQ3ibn1iMzMxm73R5cvqI5ELPZjNls3ijLcsHGjRsjkhTVah8+fFjxeDz3
 mc3ms9p6kSsVwF6pbJca9Pm1AnbvrCzL90YjD1ogEGDbtm2nZFm+12azndU85fV0W1MbymnkGY1G
 bDbbWUVRhm3cuLHFDG4tEqiqqlpWVlbq8/m6m83mjRaLBVmWkaQrP5RqC/h8frSHxq1Wq6a2eRs3
 bmwxcxvEQKCGLVu2nDp8+HChJEmzFEXxCwJkZqaSmGi5JqVRFEUSEy1YLAmAislk8gf6VrBp06aY
 cgfCJaYAHTBgQKEoiiUejyfL6/Xi9/upqXHhcrl/8Jk84uLisFrNJCfbEEWR+Ph4jEbjSUVRRm3a
 tKltU4Dq0b9//xRBEJ4WBGGkLMuZ2k0nWZapr/dSX+/G4/Hh9fppi3XUsSIuLg6jMR6LxYjZbEIU
 hWBqZEmSTqmq+q6qqrPKysquXBJaPfr37y8Cw0RRHK+q6kCfzydpSckAFEXF4/Hi82mJG2X8fi3Z
 1+V72gYH0JhUMS5OIi7OgMEgYTTGBx+X0KQtLi5OFgRhQ2BiYHlZWdnVSYMcDv37978BeEwUxVGK
 omSFpggN11bDLQP9Y1SNxDdKrhAkQpJCM5qH6VRItsrA95OKopQAr5WVlR1qrT63WSr4fv365QiC
 0AfIFwQhD+gKdJBlWdQ/Vha6bCTSEpJoKT4BPVkKcAyoVFV1N7BTVdXyzZs3//BTwbeEfv36BV9G
 AGTT8OKBsC8j0G3Q8BKCsC8jAGoBF3BQDbyMYPPmzdf+ywj+UfB/DTlpLEO20RkAAAAASUVORK5C
 YII=
