[Desktop Entry]
Name=Billboard
Exec=invoker --single-instance --type=e /opt/billboard/bin/billboard-ui
Icon=/opt/billboard/billboard-ui.png
Terminal=false
Type=Application
Categories=System;Monitor;

